.about{
    padding-top: 60px;
}
.about__label{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-font-color);
    margin-bottom: 12px;
}
.about__title{
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 1.26;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-font-color);
    width: 200px;
    margin-bottom: 32px;
}

.image-wraper{
    position: relative;
    width: 279px;
    height: 279px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140.182px;
    margin-bottom: 62px;
}
.about__image{
    position: absolute;
    top: 22px;
}

.about__info{
margin-left: auto;
margin-right: auto;
text-align: center;
width: 220px;
}

.about__paragraph{
color: var(--white-font-color);
font-weight: 400;
font-size: 12px;
line-height: 1.75;

letter-spacing: 0.04em;
}

.about__text{
    margin-bottom: 20px;
}

.about__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--axent-colour);
    padding: 12px 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    color: #000000;
    border: none;
    border-radius: 10px;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        background-color: #0a8817;
    }
}

.arrow-btn{
    margin-left: 5px;
}

@media screen and (max-width: 767px){
.about__text-item:first-child{
    margin-bottom: 4px;
}
.about__text-item:last-child{
    display: none;
}   
}

@media screen and (min-width: 768px){
    .about__label {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.22;
        }

    .about__title {
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 34px;
        line-height: 1.26;
        letter-spacing: 0.06em;
        margin-bottom: 40px;
        width: 100%;
    }
   .about__content {
       display: flex;
       justify-content: baseline;
       align-items: center;
   }

    .image-wraper {
        position: relative;
        width: 335px;
        height: 330px;
        margin-left: 0;
        margin-right: 33px;
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
        border-radius: 165.879px;
        margin-bottom: auto;
    }

    .about__image {
        position: absolute;
        top: 25px;
    }

    .about__info {
        text-align: start;
        width: 336px;
        padding-top: 33px;
        text-align: start;
    }
    .about__paragraph {
        font-size: 12.2px;
        letter-spacing: 0.04em;
    }

    .about__text {
        margin-bottom: 48px;
    }

    .about__text-item:not(:last-child){
       margin-bottom: 8px; 
    }
    .about__btn {
       
        margin-left: 0;
        margin-right: 0;
            
        }
}
@media screen and (min-width: 1200px) {
    .about__label {
        font-size: 30px;
    }

    .about__title {
        font-size: 36px;
        line-height: 1.26;
        letter-spacing: 0.06em;
        margin-bottom: 82px;
        width: 100%;
    }

    .about__content {
        display: flex;
        justify-content: baseline;
        align-items: center;
    }

    .image-wraper {
        width: 500px;
        height: 500px;
        margin-left: 0;
        margin-right: 100px;
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        border-radius: 250px;
        margin-bottom: 30px;
    }

    .about__image {
        position: absolute;
        top: 39px;}

    .about__info {
        text-align: start;
        width: 463px;
        height: 347px;
        margin-left: 0;
        margin-right: auto;
    }

    .about__paragraph {
        font-size: 14px;
        letter-spacing: 0.04em;
    }

    .about__text {
        margin-bottom: 48px;
    }

    .about__text-item:not(:last-child) {
        margin-bottom: 8px;
    }

    .about__btn {

        margin-left: 0;
        margin-right: 0;

    }
}