.advantages {
    padding-top: 40px;
    padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .advantages__list {
        display: flex;
        justify-content: space-around;
    }
}

.advantages__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: filter 0.5ms cubic-bezier(0.23, 1, 0.320, 1);
}

.advantages__item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantages__item:not(:last-child) {
    margin-bottom: 25px;
   

@media screen and (min-width: 768px) {
    margin-right: 80px;
    margin-bottom: 0px;
}

@media screen and (min-width: 1200px) {
    margin-right: 35px;
}
}

// .advantages__img_cow::before {
//     content: "";
//     background-image: url('../images/advantages/cow.png');
//     width: 36px;
//     height: 36px;
//     background-color: var(--accent-color);
//     border-radius: 50px;
//     background-repeat: no-repeat;
//     background-size: contain;

// @media screen and (min-width: 768px) {
//     // position: absolute;
//     top: -36px;
//     left: 50%;
//     transform: translate(-50%);
// }
// }

// @media screen and (min-device-pixel-ratio:2),
// screen and (min-resolution: 2dppx),
// screen and (min-resolution: 192dpi) {
//     .advantages__img_cow::before {
//         background-image: url('../images/advantages/cow@2x.png')
//     }
// }

// .advantages__img_ice::before {
//     content: "";
//     background-image: url('../images/advantages/ice-cream.png');
//     width: 36px;
//     height: 36px;
//     background-color: var(--accent-color);
//     border-radius: 50px;
//     background-repeat: no-repeat;
//     background-size: contain;

// @media screen and (min-width: 768px) {
//     // position: absolute;
//     top: -36px;
//     left: 50%;
//     transform: translate(-50%); 
//     }
// }

// @media screen and (min-device-pixel-ratio:2),
//         screen and (min-resolution: 2dppx),
//         screen and (min-resolution: 192dpi) {
//           .advantages__img_ice::before {
//             background-image: url('../images/advantages/ice-cream@2x.png')
//         }   
// }

// .advantages__img_weight::after {
//     content: "";
//     background-image: url('../images/advantages/weight.png');
//     background-size: cover;
//     background-repeat: no-repeat;
//     display: block;
//     position: absolute;
//     width: 36px;
//     height: 36px;
//     top: -112px;
//     left: 42px; 
//     background-color: var(--accent-color);
//     border-radius: 50%;
//     padding: 5px;

//     // width: 50px;
//     // height: 50px;
//     // padding: 7px 7px;
//     // display: block;
//     // background-color: var(--accent-color);
//     // border-radius: 50px;
//     // background-repeat: no-repeat;
//     // background-size: contain;

// @media screen and (min-width: 768px) {
//     // position: absolute;
//     top: -36px;
//     left: 50%;
//     transform: translate(-50%);
//     }
// }

//  .advantages__img_weight::before {
//     content: '';
//     background-color: var(--accent-color);
//     display: block;
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     left: 42px;
//     top: -100px;
//     border-radius: 50%;}

// //  }

//      content: '';
//      background-image: url('../images/mobile/product1.png');
//      background-size: cover;
//      background-repeat: no-repeat;
//      display: block;
//      position: absolute;
//      width: 200px;
//      height: 200px;
//      top: -112px;
//      left: 42px;
//      border-radius: 50%;
//  }

// @media screen and (min-device-pixel-ratio:2),
// screen and (min-resolution: 2dppx),
// screen and (min-resolution: 192dpi) {
//     .advantages__img_weight::before {
//         background-image: url('../images/advantages/weight@2x.png')
//     }
// }

.advantages__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: lowercase;
    text-transform: uppercase;
    color: var(--white-font-color);
    margin-top: 16px;
    margin-bottom: 18px;

@media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.2;
    text-transform: lowercase;
    margin-top: 32px;
    }

@media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.22;
    margin-top: 40px;
    margin-bottom: 16px;
}
}

.advantages__text {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    color: var(--white-font-color);
    width: 230px;

@media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
    width: 152px;
    height: 100%;
    }

@media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    width: 290px;
}
}