.footer {
    background-color: #84A178;
    padding-top: 32px;


}

.footer__text {
    display: block;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: var(--white-font-color);
    margin-bottom: 16px;
    width: 232px;
    @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 1.23;
    
        }

    @media screen and (min-width: 1200px) {
        margin-bottom: 14px;
        width: 100%;
        font-size: 30px;
        line-height: 1.23;

    }
}

.footer__text--direction {
    display: block;
    
    font-weight: 700;
    font-size: 34px;
    line-height: 1.20;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--white-font-color);
    
    width: 200px;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.23;
    
        }

    @media screen and (min-width: 1200px) {
        margin-bottom: 54px;
        line-height: 1.31;
        width: 100%;

    }
}

.footer__box {
    @media screen and (min-width: 768px) {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

   
}

.socials {
    margin-bottom: 38px;
    justify-content: end;
    display: flex;
    gap: 28px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;

    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 40px;

    }

}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--accent-color);
   
    width: 32px;
    height: 32px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;
    fill: #84A178;
    &:hover,
    &:focus {
        fill: #FCFCFC ;
        transform: translateY(-4px);
        box-shadow: 0px 0px 5px #E1E1E1;
        stroke: #115a14;
        animation: rotatesocials__link .5s infinite alternate ease-in-out;
        
           /* @keyframes rotatesocials__link {
                0% {
                    transform: rotate(10deg);
                }
        
                100% {
                    transform: rotate(-10deg);
                }
        
            }*/
        }
       
}




.footer__contacts {
    
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;

    color: #131313;

    @media screen and (max-width: 768px) {
        margin-bottom: 40px;
        font-size: 14px;
        

    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
        width: 100%;
        font-size: 12px;

    }
}

.footer__contacts--tel {
    
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: var(--white-font-color);



}

.footer__rights {
    margin: auto;
    width: 280px;
    padding-top: 16px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: #7A7A7A;
    padding-bottom: 62px;

    @media screen and (min-width:768px) {
        width: 100%;

    }

    @media screen and (min-width: 1200px) {
        font-size: 12px;
        line-height: 1.86;

    }
}

.footer__line {
    border-top: 1px solid #E1E1E1;
    max-width: 100%;

}