.gallery{
    background-color: var(--white-font-color);
}

.ice-cream-gallery__container{
 
    background-image:url(../images/mobile/gallery.mobile-background.jpg);
    width: 280px;
    height: 130px;
    border-radius: 7.40681px;
}