.backdrop {
    position: fixed;
    z-index: 1000;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px 32px;

    top: 50%;
    left: 50%;

    border: 2px solid var(--axent-colour);
    border-radius: 10px;

    margin: auto;

    background-color: var(--white-font-color);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 568px;
    }
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.85);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal__map {
    border: none;
    border-radius: 10px;
    width: 224px;
    height: 199px;

    @media screen and (min-width: 768px) {
        width: 448px;
        height: 260px;
    }
}

.modal__title {
    display: block;
    text-align: center;

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    font-family: var(--title-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.4;
    }
}

.modal-map-link {
    width: 150px;
    height: 32px;

    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.22;

    margin-top: 24px;

    @media screen and (min-width: 768px) {
        height: 42px;
        font-size: 14px;
        line-height: 1.21;
        margin-top: 32px;
    }

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--axent-colour);
    border-radius: 10px;
    color: #000000;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #0A8817;
    }
}

.button-close {
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;

    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }

    background-color: transparent;
    border: none;
    cursor: pointer;

    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--axent-colour);
    }
}