.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop__icon {
  background-color: #ffffff;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale3d(1.08, 1.08, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid #f8d24e;
  padding: 30px;
  @media screen and (min-width: 768px) {
    width: 400px;
  }
  @media screen and (min-width: 1200px) {
    width: 450px;
  }
}

.backdrop__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 0;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__header {
  font-family: 'Seymour One';
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.form__text {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 32px;
  text-align: left;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
.form__lable:not(:last-child) {
  margin-bottom: 12px;
}
.form__input {
  display: block;
  width: 100%;
  height: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 8px;
  border-radius: 10px;
  border: 1px solid #84a178;
  transition: border-color #84a178;
  &:focus {
    outline: none;
    border-color: #f8d24e;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.4;
    color: #000000;
  }
}
.form__texterea {
  display: block;
  resize: none;
  width: 100%;
  height: 64px;
  padding: 12px 8px;
  outline: none;
  transition: border-color var(--transition-speed);
  border-radius: 10px;
  border: 1px solid #84a178;
  margin-bottom: 32px;
  &:focus {
    border-color: #f8d24e;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.4;
    color: #000000;
  }
}
.form__submit {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  width: 196px;
  height: 42px;
  padding-top: 13px;
  padding-bottom: 13px;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #131313;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #f8d24e;
}
