.reviews{
    padding-top: 80px;
    padding-bottom: 50px;
}

.section-reviews-contacts{
    background-image:url("../images/mobile/reviews.mobile-background.jpg");
    background-size: 100% 47%;
    background-repeat: no-repeat;



}


.reviews-box__photo{
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.reviews-box__comment{
    padding: 34px 39px 34px 39px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 2.4;
    text-align: center;
    color:var(--white-font-color);
    background-color: var(--background-color);
}

.reviews-box__residence{
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.9;
    text-align: center;
    color: #000000;
}



@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .section-reviews-contacts{
        background-image:url("../images/mobile/reviews.mobile-background@2x.jpg");
    }
  }



@media screen and (min-width:768px){
    .reviews{
        padding-top: 223px;
    }
    .section-reviews-contacts{
        background-image:url("../images/tablet/reviews.tablet-background.jpg");
        background-size: 100% 74%;
        background-repeat: no-repeat;
    }

    .reviews-box__comment{
        font-size: 14px;
        line-height: 1.9;
    }
    .reviews-box__residence{
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.9;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .section-reviews-contacts{
        background-image:url("../images/tablet/reviews.tablet-background@2x.jpg");
    }
  }

@media screen and (min-width:1200px) {
    .section-reviews-contacts{
        background-image:url("../images/desktop/reviews.desktop-background.jpg");
        background-size: 100% 63%;
        background-repeat: no-repeat;
    }
    .reviews{
        padding-top: 456px;
    }
    .reviews-box__comment{
        font-size: 16px;
        line-height: 1.9;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .section-reviews-contacts{
        background-image:url("../images/desktop/reviews.desktop-background@2x.jpg");
    }
  }

  .slick-dots li.slick-active button:before {
    content: "";
   
    width: 12px;
    height: 12px;
    background-color: var(--background-color);
    border-radius: 50%;

}
.slick-dots li button:before {   
    content: "";
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
    opacity: 1;
}