:root {
  --primary-font: 'Montserrat', sans-serif;
  --title-font: 'Seymour One', sans-serif;
  --axent-colour: #f8d24e;
  --dark-font-color: #131313;
  --white-font-color: #fcfcfc;
  --background-color: #84a178;
}
