<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__img_cow">
        <picture class="advantages__img">
          <source
            srcset="./images/cow.png 1x, ./images/cow@2x.png 2x"
            media="(min-width: 250px)"
          />

          <img
            srcset="./images/cow.png 1x, ./images/cow@2x.png 2x"
            src="./images/cow.png"
            width="50"
            height="50"
            alt="image"
            loading="lazy"
          />
        </picture>
        <p class="advantages__title">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__img_weight">
        <picture class="advantages__img">
          <source
            srcset="./images/frame.png 1x, ./images/frame@2x.png 2x"
            media="(min-width: 250px)"
          />

          <img
            srcset="./images/frame.png 1x, ./images/frame@2x.png 2x"
            src="./images/frame.png"
            width="50"
            height="50"
            alt="image"
            loading="lazy"
          />
        </picture>
        <p class="advantages__title">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__img_ice">
        <picture class="advantages__img">
          <source
            srcset="./images/ice.png 1x, ./images/ice@2x.png 2x"
            media="(min-width: 250px)"
          />

          <img
            srcset="./images/ice.png 1x, ./images/ice@2x.png 2x"
            src="./images/ice.png"
            width="50"
            height="50"
            alt="image"
            loading="lazy"
          />
        </picture>
        <p class="advantages__title">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
