<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container gallery__container">
    <picture>
      <source
        srcset="
          ./images/desktop/gallery.desktop-ice-cream.png    1x,
          ./images/desktop/gallery.desktop-ice-cream@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet/gallery.tablet-ice-cream.png    1x,
          ./images/tablet/gallery.tablet-ice-cream@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile/gallery.mobile-ice-cream.png    1x,
          ./images/mobile/gallery.mobile-ice-cream@2x.png 2x
        "
        media="(min-width: 320px)"
      />

      <img
        src="./images/mobile/gallery.mobile-ice-cream.png"
        alt="img"
        class="gallery__img"
      />
    </picture>
  </div>
</section>
